/* line 12, ../sass/_grid.scss */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 0em;
  height: auto;
  max-width: 980px;
  width: 100%;
  min-width: 480px;
  background-color: #fff;
}

/* line 23, ../sass/_grid.scss */
.row div[class*="span"]:last-child {
  margin-right: 0px;
}

/* line 26, ../sass/_grid.scss */
.row {
  font-size: 0;
}

/* line 29, ../sass/_grid.scss */
.span-1 {
  width: 7%;
}

/* line 30, ../sass/_grid.scss */
.span-1 {
  display: inline-block;
  margin-right: 1.45455%;
  font-size: 1rem;
  vertical-align: top;
}

/* line 29, ../sass/_grid.scss */
.span-2 {
  width: 15.45455%;
}

/* line 30, ../sass/_grid.scss */
.span-2 {
  display: inline-block;
  margin-right: 1.45455%;
  font-size: 1rem;
  vertical-align: top;
}

/* line 29, ../sass/_grid.scss */
.span-3 {
  width: 23.90909%;
}

/* line 30, ../sass/_grid.scss */
.span-3 {
  display: inline-block;
  margin-right: 1.45455%;
  font-size: 1rem;
  vertical-align: top;
}

/* line 29, ../sass/_grid.scss */
.span-4 {
  width: 32.36364%;
}

/* line 30, ../sass/_grid.scss */
.span-4 {
  display: inline-block;
  margin-right: 1.45455%;
  font-size: 1rem;
  vertical-align: top;
}

/* line 29, ../sass/_grid.scss */
.span-5 {
  width: 40.81818%;
}

/* line 30, ../sass/_grid.scss */
.span-5 {
  display: inline-block;
  margin-right: 1.45455%;
  font-size: 1rem;
  vertical-align: top;
}

/* line 29, ../sass/_grid.scss */
.span-6 {
  width: 49.27273%;
}

/* line 30, ../sass/_grid.scss */
.span-6 {
  display: inline-block;
  margin-right: 1.45455%;
  font-size: 1rem;
  vertical-align: top;
}

/* line 29, ../sass/_grid.scss */
.span-7 {
  width: 57.72727%;
}

/* line 30, ../sass/_grid.scss */
.span-7 {
  display: inline-block;
  margin-right: 1.45455%;
  font-size: 1rem;
  vertical-align: top;
}

/* line 29, ../sass/_grid.scss */
.span-8 {
  width: 66.18182%;
}

/* line 30, ../sass/_grid.scss */
.span-8 {
  display: inline-block;
  margin-right: 1.45455%;
  font-size: 1rem;
  vertical-align: top;
}

/* line 29, ../sass/_grid.scss */
.span-9 {
  width: 74.63636%;
}

/* line 30, ../sass/_grid.scss */
.span-9 {
  display: inline-block;
  margin-right: 1.45455%;
  font-size: 1rem;
  vertical-align: top;
}

/* line 29, ../sass/_grid.scss */
.span-10 {
  width: 83.09091%;
}

/* line 30, ../sass/_grid.scss */
.span-10 {
  display: inline-block;
  margin-right: 1.45455%;
  font-size: 1rem;
  vertical-align: top;
}

/* line 29, ../sass/_grid.scss */
.span-11 {
  width: 91.54545%;
}

/* line 30, ../sass/_grid.scss */
.span-11 {
  display: inline-block;
  margin-right: 1.45455%;
  font-size: 1rem;
  vertical-align: top;
}

/* line 29, ../sass/_grid.scss */
.span-12 {
  width: 100%;
}

/* line 30, ../sass/_grid.scss */
.span-12 {
  display: inline-block;
  margin-right: 1.45455%;
  font-size: 1rem;
  vertical-align: top;
}

/* line 39, ../sass/_grid.scss */
.offset-1 {
  margin-left: 8.45455%;
}

/* line 39, ../sass/_grid.scss */
.offset-2 {
  margin-left: 16.90909%;
}

/* line 39, ../sass/_grid.scss */
.offset-3 {
  margin-left: 25.36364%;
}

/* line 39, ../sass/_grid.scss */
.offset-4 {
  margin-left: 33.81818%;
}

/* line 39, ../sass/_grid.scss */
.offset-5 {
  margin-left: 42.27273%;
}

/* line 39, ../sass/_grid.scss */
.offset-6 {
  margin-left: 50.72727%;
}

/* line 39, ../sass/_grid.scss */
.offset-7 {
  margin-left: 59.18182%;
}

/* line 39, ../sass/_grid.scss */
.offset-8 {
  margin-left: 67.63636%;
}

/* line 39, ../sass/_grid.scss */
.offset-9 {
  margin-left: 76.09091%;
}

/* line 39, ../sass/_grid.scss */
.offset-10 {
  margin-left: 84.54545%;
}

/* line 39, ../sass/_grid.scss */
.offset-11 {
  margin-left: 93%;
}

/* --------Menu---------*/
/* line 7, ../sass/_menu.scss */
.divmenu {
  position: relative;
  min-height: 33px;
  width: 100%;
  height: 50px;
  padding: 0 0 0 20;
  background: #83AFDB;
  height: auto;
}

/* line 17, ../sass/_menu.scss */
.nav {
  display: inline-block;
  float: right;
  border-bottom: 1px solid #51c1f1;
  height: 90px;
}

/* line 24, ../sass/_menu.scss */
.menu {
  height: 30px;
}
/* line 26, ../sass/_menu.scss */
.menu > li {
  list-style: none;
  float: left;
  padding-left: 0;
  height: 30px;
}
/* line 31, ../sass/_menu.scss */
.menu > li > a {
  height: 40px;
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
/* line 40, ../sass/_menu.scss */
.menu > li :hover, .menu > li :focus {
  background: #F2F2F2;
  box-shadow: inset 0px 5px #51C1F1;
  color: #51C1F1;
  padding: 10px 10px 10px;
}

/* --------End Menu---------*/
/* ------button------*/
/* line 10, ../sass/_button.scss */
.btn {
  border: 0 none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 0px;
  margin-top: 10px;
  padding: 6px 10px;
  text-transform: none;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: all 0.3s ease 0s;
  width: auto;
  text-align: center;
}
/* line 27, ../sass/_button.scss */
.btn.btn-red {
  background: none repeat scroll 0 0 #E0645C;
  color: #FFFFFF;
}
/* line 30, ../sass/_button.scss */
.btn.btn-red:hover {
  background: none repeat scroll 0 0 #999999;
  color: #FFFFFF;
}
/* line 35, ../sass/_button.scss */
.btn.btn-dark {
  background: none repeat scroll 0 0 #444444;
  color: #FFFFFF;
}
/* line 38, ../sass/_button.scss */
.btn.btn-dark:hover {
  background: none repeat scroll 0 0 #2DB6CF;
  color: #FFFFFF;
}
/* line 43, ../sass/_button.scss */
.btn.btn-default {
  background: none repeat scroll 0 0 #999999;
  color: #FFFFFF;
}
/* line 46, ../sass/_button.scss */
.btn.btn-default:hover {
  background: none repeat scroll 0 0 #444444;
  color: #FFFFFF;
}
/* line 51, ../sass/_button.scss */
.btn.btn-green {
  background: none repeat scroll 0 0 #46b98a;
  color: #FFFFFF;
}
/* line 54, ../sass/_button.scss */
.btn.btn-green:hover {
  background: none repeat scroll 0 0 #444444;
  color: #FFFFFF;
}
/* line 59, ../sass/_button.scss */
.btn.btn-blue {
  background: none repeat scroll 0 0 #2DB6CF;
  color: #FFFFFF;
}
/* line 62, ../sass/_button.scss */
.btn.btn-blue:hover {
  background: none repeat scroll 0 0 #444444;
  color: #FFFFFF;
}
/* line 66, ../sass/_button.scss */
.btn.btn-lg {
  width: 100%;
}

/* ------end button------*/
/* line 1, ../sass/_forms.scss */
input[type="text"], textarea, select {
  margin-top: 10px;
  padding: 8px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  width: 100%;
}
/* line 7, ../sass/_forms.scss */
input[type="text"]:focus, textarea:focus, select:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

/* line 14, ../sass/_forms.scss */
textarea {
  resize: none;
}

/* line 18, ../sass/_forms.scss */
label {
  font-size: 1rem;
  display: block;
  font-family: Arial,sans-serif;
  margin: 10 0 0 0;
}

/* line 23, ../sass/_forms.scss */
br {
  display: block;
  margin-bottom: 2px;
  font-size: 2px;
  line-height: 2px;
}

/* line 1, ../sass/_message.scss */
.info, .success, .warning, .error, .validation {
  border: 1px solid;
  margin: 5px 0px;
  padding: 10px 5px 10px 30px;
  background-repeat: no-repeat;
  font-size: 0.8rem;
}

/* line 8, ../sass/_message.scss */
.info {
  color: #00529B;
  background-color: #BDE5F8;
}

/* line 12, ../sass/_message.scss */
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
}

/* line 16, ../sass/_message.scss */
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
}

/* line 21, ../sass/_message.scss */
.error {
  color: #D8000C;
  background-color: #FFBABA;
}

/* line 3, ../sass/_mediatheque.scss */
.recherche {
  padding: 15px 0px 15px 0px;
}

/* line 6, ../sass/_mediatheque.scss */
fieldset {
  margin: 15px 30px 15px 30px;
  padding: 16px;
  border: 1px solid #39c;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

/* line 13, ../sass/_mediatheque.scss */
legend {
  font-size: 14px;
  margin-bottom: 0px;
}

/* line 19, ../sass/_mediatheque.scss */
.resultat {
  margin: 10px 0px 10px 0px;
  box-shadow: 0 6px 12px black;
}
/* line 23, ../sass/_mediatheque.scss */
.resultat h1 {
  color: #fff;
  font-size: 1.1rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 28, ../sass/_mediatheque.scss */
.resultat article {
  margin: 4px 4px 4px 4px;
  color: #fff;
  background: #4F4747;
  height: auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}
/* line 34, ../sass/_mediatheque.scss */
.resultat article a {
  color: #FFBB56;
}
/* line 37, ../sass/_mediatheque.scss */
.resultat .Disponible, .resultat .Indisponible {
  text-align: center;
  width: 100%;
  padding: 2px;
  display: inline-block;
  font-size: 0.8rem;
}
/* line 45, ../sass/_mediatheque.scss */
.resultat .Disponible {
  background: #6bba70;
}
/* line 46, ../sass/_mediatheque.scss */
.resultat .Indisponible {
  background: #9F6000;
}
/* line 49, ../sass/_mediatheque.scss */
.resultat img {
  vertical-align: middle;
}
/* line 50, ../sass/_mediatheque.scss */
.resultat article:nth-child(n+1) {
  margin-right: 0px;
}
/* line 54, ../sass/_mediatheque.scss */
.resultat article {
  display: inline-block;
  color: #fff;
  background: #4F4747;
  padding: 5px;
  width: 49.2%;
}
/* line 62, ../sass/_mediatheque.scss */
.resultat article img {
  width: 30%;
  vertical-align: top;
  height: auto;
  display: inline-block;
}
/* line 68, ../sass/_mediatheque.scss */
.resultat article p:nth-child(2) {
  display: inline-block;
  word-wrap: break-word;
  width: 60%;
  font-size: 0.9em;
  height: auto;
  padding-left: 10px;
  overflow: hidden;
}
/* line 77, ../sass/_mediatheque.scss */
.resultat article p:nth-child(3) {
  word-wrap: break-word;
  overflow: hidden;
  height: 60px;
  width: auto;
}

/* line 9, ../sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

/* line 15, ../sass/style.scss */
html {
  height: 100%;
}

/* line 16, ../sass/style.scss */
body {
  height: 100%;
  background: url("../images/mediatheque.jpg") repeat;
}

/* line 21, ../sass/style.scss */
body, a {
  font: normal 1rem Helvetica, Verdana, Geneva, sans-serif;
  color: #3F3F3F;
}

/* line 25, ../sass/style.scss */
footer {
  margin-top: 10px;
  height: 12px;
  padding: 8px 0;
  background: #F2F2F2;
  border-top: 1px solid #51C1F1;
  font-size: 12px;
  text-align: center;
  height: auto;
}

/* line 35, ../sass/style.scss */
span {
  font-size: 0.8rem;
}

/* line 36, ../sass/style.scss */
ol, ul {
  list-style: none;
  padding: 1px;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 40, ../sass/style.scss */
li {
  padding-left: 10px;
  padding-bottom: 5px;
  overflow: hidden;
}

/* line 43, ../sass/style.scss */
ul li {
  margin: 0 0 15px 0;
}

/* line 44, ../sass/style.scss */
a img {
  border: none;
}

/* line 45, ../sass/style.scss */
a {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  color: #4862A3;
}

/* line 49, ../sass/style.scss */
a:hover {
  text-decoration: none;
}

/* line 52, ../sass/style.scss */
img {
  height: auto;
  width: 100%;
}

/* line 55, ../sass/style.scss */
#intro {
  background: url("../image/header.png") repeat-x scroll left bottom #a8cdfa;
  height: 90px;
  margin-bottom: 10px;
}

/* line 60, ../sass/style.scss */
#intro > h1 {
  font-size: 35px;
  line-height: 35px;
  margin-bottom: 10px;
  padding-top: 25px;
  text-align: center;
  color: #fff;
  font-family: Georgia;
}

/* line 72, ../sass/style.scss */
small {
  font-size: 80%;
}

/* line 75, ../sass/style.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #444444;
  text-transform: none;
}

/* line 87, ../sass/style.scss */
h1 {
  font-size: 2rem;
  line-height: 42px;
}

/* line 91, ../sass/style.scss */
h2 {
  margin-top: 10px;
  font-size: 1.6rem;
  line-height: 30px;
}

/* line 95, ../sass/style.scss */
h3 {
  font-size: 1.4rem;
  line-height: 24px;
}

/* line 99, ../sass/style.scss */
h4 {
  font-size: 1.2rem;
  line-height: 22px;
}

/* line 103, ../sass/style.scss */
h5 {
  font-size: 1rem;
  line-height: 20px;
}

/* line 107, ../sass/style.scss */
h6 {
  font-size: 0.8rem;
  line-height: 18px;
}

/* line 112, ../sass/style.scss */
blockquote {
  padding-left: 15px;
  border-left: 5px solid #dddddd;
  font-size: 16px;
  line-height: 22px;
  font-style: italic;
}

/* line 120, ../sass/style.scss */
pre {
  padding: 10px;
  background: #fafafa;
  font: 12px / 18px Consolas, monospace, serif;
  color: #444444;
  -moz-tab-size: 4;
  tab-size: 4;
  overflow: auto;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

/* line 134, ../sass/style.scss */
.text-center {
  text-align: center;
}

/* line 136, ../sass/style.scss */
.text-left {
  text-align: left;
}

/* line 138, ../sass/style.scss */
.text-right {
  text-align: right;
}

/* line 140, ../sass/style.scss */
.form-text {
  margin: 0 0 3 0;
  height: 25px;
  max-width: 100%;
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #444444;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  border-radius: 4px;
}

/* line 152, ../sass/style.scss */
.form-text:focus {
  border-color: #99baca;
  outline: 0;
  background: #f5fbfe;
}

/* line 157, ../sass/style.scss */
.clear {
  clear: both;
  float: none;
  content: "";
  width: 0;
  height: 0;
  display: block;
}

/* line 165, ../sass/style.scss */
.left {
  float: left;
}

/* line 168, ../sass/style.scss */
.right {
  float: right;
}

/* ------------ mobile------------------ */
@media only screen and (max-width: 768px) and (min-device-width: 480px) {
  /* line 6, ../sass/_mobile.scss */
  .divmenu {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 56px;
  }

  /* line 12, ../sass/_mobile.scss */
  .nav {
    float: left;
    height: 51px;
    border-bottom: none;
  }

  /* line 18, ../sass/_mobile.scss */
  .container {
    width: 100%;
  }

  /* line 21, ../sass/_mobile.scss */
  .menu {
    padding: 0px;
    height: auto;
    background: #FFFFFF;
  }
  /* line 24, ../sass/_mobile.scss */
  .menu > li {
    padding-top: 3px;
    height: auto;
  }
  /* line 27, ../sass/_mobile.scss */
  .menu > li > a {
    padding: 15px 15px 17px 15px;
    font-size: 1rem;
    height: auto;
  }
  /* line 31, ../sass/_mobile.scss */
  .menu > li :hover, .menu > li :focus {
    background: #F2F2F2;
    box-shadow: inset 5px 0px #51C1F1;
    padding: 15px 15px 17px 25px;
  }

  /* line 38, ../sass/_mobile.scss */
  .resultat article {
    width: 49%;
  }

  /* line 39, ../sass/_mobile.scss */
  .recommand div > div {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  /* line 47, ../sass/_mobile.scss */
  #intro > h1 {
    font-size: 1.2rem;
  }

  /* line 48, ../sass/_mobile.scss */
  .divmenu {
    height: 91px;
    padding-left: 0px;
  }
  /* line 50, ../sass/_mobile.scss */
  .divmenu > h1 {
    text-align: center;
  }

  /* line 54, ../sass/_mobile.scss */
  .divmenu > h1, .nav, .toggle:after {
    float: none;
  }

  /* line 57, ../sass/_mobile.scss */
  .divmenu .toggle:after {
    text-align: center;
    width: 100%;
  }

  /* line 61, ../sass/_mobile.scss */
  .menu {
    width: 100%;
    position: absolute;
    right: 0;
  }
  /* line 64, ../sass/_mobile.scss */
  .menu > li {
    display: block;
    background: #fff;
    width: 100%;
    background: #F2F1F0;
    margin: 0;
  }
  /* line 69, ../sass/_mobile.scss */
  .menu > li > a {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
  }

  /* line 79, ../sass/_mobile.scss */
  .nav {
    border-bottom: none;
    width: 100%;
    height: 66px;
  }

  /* line 85, ../sass/_mobile.scss */
  .recommand div > div {
    width: 50%;
  }

  /* line 86, ../sass/_mobile.scss */
  .container {
    width: auto;
  }

  /* line 87, ../sass/_mobile.scss */
  .resultat article {
    width: 98%;
  }
}
/* ------------ End mobile------------------ */
