input[type="text"],textarea,select{
margin-top: 10px;
  padding: 8px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  width: 100%;
  &:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
}


textarea {
    resize: none;
}
  
    label { font-size: 1rem;
            display: block;
            font-family: Arial,sans-serif;
            margin: 10 0 0 0;
            }
br {
    display: block;
    margin-bottom: 2px;
    font-size:2px;
    line-height: 2px;
}