@import 'compass/css3';
$nboite :12;
$largboite:7;
$var: $nboite - 1;
$margin:( 100% - $nboite * $largboite )/ $var ;
$width:100%;
$min-width:480px;
$max-width: 980px;
$background-color:#fff;


.container{ margin-left:auto;
            margin-right:auto;
            width:100%;
            font-size: 0em;
            height: auto;
            max-width:$max-width;
            width: $width;
            min-width: $min-width;
            background-color:$background-color;

}
.row div[class*="span"]:last-child {
 margin-right: 0px;
}
.row{font-size: 0; }

@for $i from 1 through $nboite {
  .span-#{$i} { width: $i * $largboite +  $margin * ( $i - 1 ) ; }
  .span-#{$i}{
  display:inline-block;
  margin-right: $margin;
  font-size: 1rem;
  vertical-align: top;
  }
}

@for $i from 1 through $nboite - 1 {
  .offset-#{$i} { margin-left : ( $largboite  + $margin ) * $i ;}
}