@import 'compass';

.recherche{
	padding:  15px 0px 15px 0px;
}
fieldset
{ 
   margin: 15px 30px 15px 30px;
   padding:16px;	
  	border: 1px solid #39c;
    @include border-radius(8px);
}
legend
{ 
	font-size: 14px;
  margin-bottom:0px;

}
.resultat {
	margin: 10px 0px 10px 0px;
    box-shadow: 0 6px 12px black;

	h1{		color: #fff;
		font-size: 1.1rem;
		margin-top: 5px;
		margin-bottom: 5px;
	}
   article{ margin: 4px 4px 4px 4px;
	color: #fff;
	background: #4F4747;
	height: auto;
   @include border-radius(4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
a{color: #FFBB56;}
}

.Disponible ,.Indisponible {
	text-align: center;
	width: 100%;
	padding: 2px;
	display: inline-block;
	font-size: 0.8rem;

}
.Disponible{background: rgb(107,186,112);}
.Indisponible{background: #9F6000;
}

img {vertical-align: middle;}
	article:nth-child(n+1){
		margin-right:0px;
	};

	article{
	display: inline-block;
	color: #fff;
	background: #4F4747;
	padding: 5px;
   	width: 49.2%;


img{ 
	width: 30%;
	vertical-align: top;
   height: auto;
   display: inline-block;
}
    p:nth-child(2){
    display: inline-block;
    word-wrap:break-word;
   	width: 60%;
   	font-size: 0.9em;
   	height: auto;
   	padding-left: 10px;
   	overflow: hidden;
   }
   	p:nth-child(3){
   		word-wrap:break-word;
   		overflow: hidden;
   		height: 60px;
   		width: auto;}
   		
}

}