/* --------Menu---------*/
@import 'compass/css3';
$headerColor:#83AFDB;
$LogoColor:#797979;


.divmenu {position: relative;
  min-height: 33px;
  width: 100%;
  height: 50px;
  padding: 0 0 0 20;
  background: $headerColor;
  height: auto;

}

.nav{ 
  display: inline-block; 
  float: right; 
  border-bottom: 1px solid #51c1f1;
  height: 90px;
}

.menu {       
             height:30px; 
  > li {    list-style: none;
            float:left; 
            padding-left: 0;
            height:30px;  

             > a{height:40px; 
            display: block;
            padding: 10px 10px;
            text-decoration: none;
            font-weight: normal;
            font-size: 14px;
            line-height: 1;
            @include box-sizing(border-box);
            @include transition(all 0.25s linear);
} & :hover,:focus {
  background: #F2F2F2;
  box-shadow: inset 0px 5px #51C1F1;
  color: #51C1F1;
  padding: 10px 10px 10px;
}  
 }
}





/* --------End Menu---------*/