.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 5px 0px;
padding:10px 5px 10px 30px;
background-repeat: no-repeat;
font-size: 0.8rem;
}
.info {
color: #00529B;
background-color: #BDE5F8;
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
}
.warning {
color: #9F6000;
background-color: #FEEFB3;

}
.error {
color: #D8000C;
background-color: #FFBABA;

}