/* ------------ mobile------------------ */
$maxWidth:768px;
$minWidth:480px;
@media only screen and (max-width: $maxWidth) and (min-device-width : $minWidth)  {

  .divmenu{margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 56px;
   
  }
    .nav{float: left;
      height: 51px;
      border-bottom:none;}

    
      
     .container{ 
        width: 100%;
      }
  .menu{ padding: 0px;
    height: auto;
    background: #FFFFFF;
    >li{ padding-top: 3px;
      height: auto;
    
    > a{
    padding: 15px 15px 17px 15px;
    font-size: 1rem;
    height: auto;
    }& :hover,:focus{
    background: #F2F2F2;
    box-shadow: inset 5px 0px #51C1F1;
    padding: 15px 15px 17px 25px;
  }
    }
  }
  .resultat article{ width: 49%;}
.recommand div>div{width: 50%;}
}




@media only screen and (max-width: $minWidth) 
{   
  #intro>h1{font-size: 1.2rem;}
  .divmenu{height: 91px;
  padding-left: 0px;
  > h1 { 
    text-align: center;
  }
}
  .divmenu > h1, .nav, .toggle:after{ 
    float: none; 
  }
  .divmenu .toggle:after { 
    text-align: center; width: 100%; 
  }

  .menu {width: 100%; 
          position: absolute;
          right: 0; 
        > li { display: block;
          background: #fff;
   width: 100%;
   background: #F2F1F0;
    margin: 0; 
  > a { display: block;
   width: 100%; 
   text-decoration: none;
   font-size: 1rem;
   text-align: center; 
    }
  }

  }

.nav{ 
  border-bottom: none;
  width: 100%;
  height: 66px;
  }

.recommand div>div{width: 50%;}
.container{width: auto;}
.resultat article{ width: 98%;}
}
/* ------------ End mobile------------------ */