@import 'grid';
@import 'menu';
@import 'button';
@import 'forms';
@import 'message';
@import 'mediatheque';


  * { @include box-sizing(border-box);
       outline: 0;
        margin: 0;
        padding: 0;
        word-wrap:break-word;
    }
    html{height: 100%;}
    body{
      height: 100%;
      background: url("../images/mediatheque.jpg") repeat;
    }

    body, a{
      font: normal 1rem Helvetica, Verdana, Geneva, sans-serif;
      color: #3F3F3F;   
    }
    footer{ margin-top: 10px;
      height: 12px;
      padding: 8px 0;
      background: #F2F2F2;
      border-top: 1px solid #51C1F1;
      font-size: 12px;
      text-align: center;
      height: auto;
    }

span{ font-size: 0.8rem;}
ol, ul { list-style: none;
padding : 1px; 
margin-top:0;
margin-bottom:0;}
li { padding-left: 10px;
padding-bottom: 5px;
overflow: hidden;}
ul li {margin: 0 0 15px 0;}
a img { border: none; }
a { text-decoration: none;
  font-weight: normal;
  font-size: 16px; 
  color: #4862A3;}
  a:hover{
    text-decoration: none;
  }
  img { height: auto;
  width: 100%; }

#intro{
  background: url("../image/header.png") repeat-x scroll left bottom #a8cdfa;
  height: 90px;
  margin-bottom: 10px;
}
#intro>h1{
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 10px;
    padding-top: 25px;
    text-align: center;
    color: #fff;
    font-family: Georgia;
}



small {
  font-size: 80%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #444444;
  text-transform: none;
}
h1 {
  font-size: 2rem;
  line-height: 42px;
}
h2 { margin-top: 10px;
  font-size: 1.6rem;
  line-height: 30px;
}
h3 {
  font-size: 1.4rem;
  line-height: 24px;
}
h4 {
  font-size: 1.2rem;
  line-height: 22px;
}
h5 {
  font-size: 1rem;
  line-height: 20px;
}
h6 {
  font-size: 0.8rem;
  line-height: 18px;
}

blockquote {
  padding-left: 15px;
  border-left: 5px solid #dddddd;
  font-size: 16px;
  line-height: 22px;
  font-style: italic;
}

pre {
  padding: 10px;
  background: #fafafa;
  font: 12px / 18px Consolas, monospace, serif;
  color: #444444;
  -moz-tab-size: 4;
  tab-size: 4;
  overflow: auto;
  border: 1px solid #dddddd;
  border-radius: 3px;
}



.text-center { text-align: center; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.form-text
 {
  margin: 0 0 3 0;
    height: 25px;
  max-width: 100%;
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #444444;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  border-radius: 4px;
}
.form-text:focus {
  border-color: #99baca;
  outline: 0;
  background: #f5fbfe;}
  
.clear {
  clear: both;
  float: none;
  content: "";
  width: 0;
  height: 0;
  display: block; }

.left{
  float: left;
}
.right{float: right;}

@import 'mobile';